:root {
  padding: 0;
  margin: 0;
}
  body{
    background-color: rgb(163, 0, 70);
    color: rgb(232, 240, 3);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

// INDEX: Header
header {
  letter-spacing: 3px;
  margin-top: 10px;
}
  .input_anime {
    width: 225px;
    height: 30px;
    border-radius: 20px;
    margin: 12px;
    text-align: center;
  }

  .btn {
    background-color: rgb(235, 217, 16);
    color: rgb(163, 0, 70);
    width: 90px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold ;
    font-size: 12px;
  }

  // INDEX: Main
main  {
  // background-color: rgb(60, 60, 59);
  // color: rgb(163, 0, 70);
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // min-height: 270px;
  margin: 15px;
  border-radius: 10px;
  margin-block: 15px;
  padding: 10px;
  font-size: 12px;
  font-weight: 450;
}
  .album{
    gap: 12px;
  }
    .card {
      background-color: orange;
      padding: 6px;
      border-radius: 3px;
    }
      .name {
        max-width: 150px;
        height: 30px;
      }
      .img {
        background-color: grey;
        height: 205px;
        width: 150px;
        img {
          width: 100%;
        }
      }
    .card_fav {
      background-color: rgb(224, 207, 16);
      color: rgb(163, 0, 70);
    }
    
  // INDEX: Footer
footer {
  background-color: rgb(224, 207, 16);
  color: rgb(163, 0, 70);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 50px;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
  .brand {
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 5px;
  }

